.DS_Store

/**/.terraform
/**/.idea
/**/*.tfstate
/**/.terraform.tfstate.lock.info
/**/terraform.tfstate
/**/terraform.tfstate.backup
/**/tfplan
/**/*.tar.gz
/**/terraform.tfvars
/keys/*
/**/.delivery 
.idea
/**/*.iml
.netrc
/**/Berksfile.lock
/**/creds/*

/downloads/*
.last-built-version
.bashful/
*.log
build-assets/*

*.iml
.idea/
*.exe
